<main class="container">

  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
          <img class="me-3" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo-white.svg" alt="" width="48"
            height="38">
          <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">Trending People</h1>
            <small>from Globe</small>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 mt-3" *ngFor="let user of users">
            <div class="card">
              <img src="../../assets/images/vue-color-avatar.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{user.name}}</h5>
                <p class="card-text">{{user.address.street}}, {{user.address.suite}}, {{user.address.zipcode}} <br>
                  {{user.company.name}}</p>
                <a routerLink="../user-timeline/{{user.id}}" class="btn   btn-success ">Timeline</a>
              </div>
            </div>
          </div>
        </div>
      
      
        <div class="my-3 p-3 bg-body rounded shadow-sm">
          <small class="d-block text-end mt-3">
            <a href="#">All updates</a>
          </small>
        </div>

      </div>
      <div class="col-sm-2"></div>

  </div>
  
</main>